@(form: Form[_])

@main("Login") {

    <style>
        .modal-footer {   border-top: 0px; }
    </style>

    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @if(flash.containsKey("logout")) {
                        <div class="alert alert-success msg">
                            <a class="close" data-dismiss="alert" href="#">×</a>
                            <div class="text-left">@flash.get("logout")</div>
                        </div>
                    }
                    <h1 class="text-center">Autenticação</h1>
                </div>
                <div class="modal-body">
                    @helper.form( action = routes.LoginController.logar(), 'class -> "form col-md-12 center-block" ) {
                        @views.html.helpers.valida_input(form, "login", "input","form-control input-lg")
                        @views.html.helpers.valida_input(form, "senha", "password","form-control input-lg")
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Acessar</button>
                        </div>
                    }
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

}